@media (min-width: 1200px) {

  html {
    font-size: .7vw;
  }

  nav {
    /* grid-template-columns: 16rem 61.8rem 52.9rem 6.5rem 6.5rem; */
    ;
  }

  .nav-menu__item--link {
    padding: .4rem 0 .1rem 2.9rem;
  }

  .navigation__logo {
    width: 10.6%;
  }

  .search__wrapper {
    width: 41.5%;
  }

  .nav-menu {
    width: 36.7%;
  }

  .navigation__chat {
    width: 4.5%;
  }

  .navigation__cart {
    width: 4.5%;
  }
/* PROMO */
  .promo {
    padding: 18px 46px 118px 76px;
  }

  .promo__description {
    padding: 0 86px 15px .4rem;
  }

  .promo .button::after {
    top: 15px;
    left: 88px;
  }

  .promo__title {
    padding: 32px 26px 11px 4px;
  }

  .header__image {
    height: auto;
  }

  .header-content__image {
    height: 37.1rem;
  }
}
