@media (min-width: 1200px) {

  html {
    font-size: 20px;
  }


/* PROMO */

  .header-content {

    overflow: hidden;
  }


/* BENEFITS */
.benefit__img3{
  background-image: url(./../img/benefits-low.png)
}


.benefit__title {
    font-size: 14px;
}
.benefit__link {
    font-size: 14px;
}

.contact-us__wrapper{
  font-size: 14px;

}

}
