@media (min-width: 1200px) {

  html {
    font-size: 20px;
  }


/* PROMO */

  .header-content {

    overflow: hidden;
  }


/* BENEFITS */

.benefits {
  padding-right: 65px;

}


.benefit__img3{
display:block;
}

.benefit__img3--mobile{
display:none;
}

.benefit {
  padding:13px 39px 13px 7px;

}

.benefit__title {
    font-size: 14px;
}
.benefit__link {
    font-size: 14px;
}

.contact-us__wrapper{
  font-size: 14px;

}

}
