body {
  position: relative;
}

header {
  width: 100%;
}

nav {
  font-family: "Graphik-Web", sans-serif;
  border-bottom: 0.1rem solid #e5e5e5;
  height: 4.9rem;
  position: relative;
}

nav div {
  box-sizing: border-box;
  height: 100%;
}

.navigation__logo {
  font-family: "Graphik-Web", sans-serif;
  font-size: 2.8rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: .7rem;
  padding-right: 5rem;
}

.navigation__logo a:link, .navigation__logo a:visited {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.search__button {
  position: relative;
  border-left: .1rem solid #e5e5e5;
  width: 13%;
}

.search__wrapper {
  transition: opacity 0.5s;
  opacity: 0.4;
  visibility: hidden;
  display: none;
  border: .1rem solid #e5e5e5;
  height: 4.9rem;
  width: 305%;
  position: absolute;
  left: 33.4%;
  top: 99%;
  box-sizing: content-box;
}

.search__field {
  font-size: 1.6rem;
  width: 100%;
  height: 4.9rem;
  padding-left: 4.4rem;
  border: none;
}

.search__wrapper::after {
  font-family: "icon-font1", sans-serif;
  content: "";
  font-size: 2.1rem;
  position: absolute;
  top: 1.4rem;
  left: 1.9rem;
}

.navigation__chat {
  border-left: .1rem solid #e5e5e5;
  width: 13%;
}

.navigation__cart {
  position: relative;
  border-left: .1rem solid #e5e5e5;
  width: 13%;
}

.cart-count {
  width: 2.3rem;
  height: 2.3rem;
  background: #066551;
  position: absolute;
  top: 0.3rem;
  left: 4.1rem;
  border-radius: 2rem;
  color: white;
  display: none;
  align-items: center;
  font-size: 1.1rem;
  justify-content: center;
  font-weight: 300;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation__burger {
  border-left: .1rem solid #e5e5e5;
  width: 13%;
}

.nav-menu {
  transition: opacity 0.5s;
  opacity: 0.4;
  visibility: hidden;
  display: none;
  background: white;
  flex-direction: column;
  position: absolute;
  width: 40%;
  top: 98%;
  left: 60%;
}

.nav-menu:last-child {
  border-bottom: none;
}

.navigation__button {
  font-family: "icon-font1";
  font-size: 2.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
  height: 100%;
}

.navigation__button:link {
  color: black;
  text-decoration: none;
}

.nav-menu {
  list-style: none;
  border: .1rem solid #e5e5e5;
  margin: 0;
  padding-left: 0;
  width: 44%;
  top: 99%;
  left: 55.5%;
}

.nav-menu__item {
  border-bottom: .1rem solid #e5e5e5;
}

.nav-menu__item--link {
  text-decoration: none;
  color: black;
  font-size: 1.9rem;
  display: block;
  padding: 1.3rem;
}

.more-styles__link {
  position: relative;
}

.more-styles::after {
  font-family: "icon-font1";
  content: '';
  font-size: 1.8rem;
  position: absolute;
  top: 1.3rem;
  left: 12.4rem;
  cursor: pointer;
  pointer-events: none;
}

.more-styles__dropdown {
  list-style: none;
  border: .1rem solid #e5e5e5;
  margin: 0;
  flex-direction: column;
  position: absolute;
  width: 40%;
  top: -.1rem;
  left: -93.5%;
  background: white;
  width: 16.2rem;
  text-align: center;
  transition: opacity 0.5s;
  opacity: 0.4;
  visibility: hidden;
  padding-left: 0;
}

.nav-menu a {
  cursor: pointer;
}

.more-styles__dropdown:last-child {
  border-bottom: none;
}

.more-styles__style--item {
  border-bottom: .1rem solid #e5e5e5;
}

.more-styles__style--link {
  text-decoration: none;
  color: black;
  font-size: 1.9rem;
  display: block;
  padding: 1.3rem 0;
}

.more-styles {
  position: relative;
}

.dropdown__visible {
  display: flex;
  visibility: visible;
  opacity: 1;
  background: white;
  z-index: 2;
}

.visible {
  display: flex;
}

/* Promo description */

.promo__title {
  color: #066551;
  font-size: 20px;
}

.promo__description {
  font-size: 10px;
  color: ababa9;
}

.promo {
  padding: 20px;
}

.theme-green {
  background-color: #066551;
  color: white;
}

.size-L {
  width: 100px;
  height: 30px;
}

.button {
  border: none;
  outline: none;
}
