@media (min-width: 768px) {
  html {
    font-size: .91vw;
  }

  nav {
    border-bottom: .1rem solid #e5e5e5;
    height: 6.3rem;
  }

  .navigation__logo {
    padding-top: 1.4rem;
    padding-left: .7rem;
    padding-right: 0;
    font-size: 3.1rem;
    order: 1;
    width: 14%;
  }

  .search__button {
    display: none;
  }

  .navigation__burger {
    display: none;
  }

  .search__wrapper {
    order: 2;
    visibility: visible;
    opacity: 1;
    display: flex;
    align-items: center;
    padding-left: 1.9rem;
    border: none;
    border-left: .1rem solid  #e5e5e5;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 23.5%;
  }

  .search__wrapper::after {
    font-size: 3rem;
    top: 1.6rem;
    left: 2rem;
  }

  .search__field {
    border: none;
    height: 100%;
  }

  .nav-menu {
    order: 3;
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    border: none;
    border-left: .1rem solid #e5e5e5;
    position: inherit;
    top: 0;
    left: 0;
    flex-direction: row;
    height: 100%;
    width: 48%;
  }

  .nav-menu__item {
    border-bottom: none;
    display: flex;
    align-items: center;
  }

  .nav-menu__item--link {
    font-size: 1.5rem;
    padding: .4rem 0 .4rem 2.8rem;
  }

  .nav-menu__dropdown::after {
    font-size: 1.6rem;
    top: 2.3rem;
    left: 11.4rem;
  }

  .nav-menu__dropdown--list {
    left: -1rem;
    top: 6.2rem;
  }

  .nav-menu__dropdown--link {
    padding-right: 1.1rem;
  }

  .nav-menu__level2--link {
    padding: .5rem 0;
  }

  .navigation__button {
    font-size: 2.5rem;
  }

  .navigation__chat {
    order: 4;
    width: 5.8%;
  }

  .navigation__cart {
    order: 5;
    width: 5.8%;
  }

  .cart-count {
    top: 7%;
    left: 50%;
    width: 44%;
    height: 44%;
  }

/* PROMO */

  .header-content {
    overflow: hidden;
    height: 37.7rem;
  }

  .promo {
    box-sizing: border-box;
    padding: 1.2rem 2.4rem 5.4rem 6.5rem;
    width: 39%;
  }

  .promo__title {
    font-size: 4.1rem;
    padding: 3.2rem 2.5rem 1.4rem .4rem;
    line-height: 4.4rem;
  }

  .promo__description {
    font-size: 1.8rem;
    line-height: 2.3rem;
    padding: 0 9rem 1.7rem .4rem;
  }

  .button-size-L {
    width: 16.3rem;
    height: 5rem;
  }

  .promo .button {
    padding-right: 5.5rem;
    position: relative;
  }

  .promo .button::after {
    content: "Now";
    position: absolute;
    top: 1.45rem;
    left: 8.7rem;
  }

  .header__image {
    width: 61%;
    height: 37.7rem;
  }

  .header-content__image {
    height: auto;
  }

  /* BENEFITS */
  .benefits__wrapper{
    padding: 0 2.6%;
    display:flex;
  }
.benefits {
  display:flex;
  margin:0;
}

.contact-us {
  display:flex;
  color: #066551;
}

.contact-us__img {
  background-image: url(./../img/benefits-message.png)
}

.contact-us__title {
  font-family: "Graphik-Web", serif;
  }

  .contact-us__link {
    font-family: "Graphik-Web", serif;
    color: #066551;
  }

  .benefit{
        padding-right: 39px;
  }

  .benefit__wrapper{
        padding-top: 10px;
  }

.benefit__title{
  font-size: 12px;
}

.benefit__link{
  font-size: 12px;
padding-top: 7px;
}



}
