@media (min-width: 768px) {
  nav {
    grid-template-areas: "logo search__wrapper navmenu chat cart ";
    border-bottom: .1rem solid #e5e5e5;
    grid-template-columns: 16rem 28rem 52.9rem 6.5rem 6.5rem;
    grid-template-rows: 6.3rem;
    height: 6.3rem;
  }

  .navigation__logo {
    padding-left: 1.7rem;
    font-size: 3.1rem;
  }

  .search__button {
    display: none;
  }

  .navigation__burger {
    display: none;
  }

  .search__wrapper {
    visibility: visible;
    opacity: 1;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    display: flex;
    align-items: center;
    padding-left: 1.9rem;
    border: none;
    border-left: .1rem solid  #e5e5e5;
    height: 100%;
  }

  .search__wrapper::after {
    font-size: 3rem;
    top: 1.6rem;
    left: 2rem;
  }

  .search__field {
    border: none;
    height: 100%;
  }

  .nav-menu {
    visibility: visible;
    opacity: 1;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    display: flex;
    font-size: 1rem;
    border: none;
    border-left: .1rem solid #e5e5e5;
  }

  .nav-menu__item {
    border-bottom: none;
    display: flex;
    align-items: center;
  }

  .nav-menu__item--link {
    font-size: 1.5rem;
    padding: .4rem 0 .4rem 2.8rem;
  }

  .more-styles::after {
    font-size: 1.6rem;
    top: 2.3rem;
    left: 11.4rem;
  }

  .more-styles__dropdown {
    left: -1rem;
    top: 6.2rem;
  }

  .more-styles__link {
    padding-right: 1.1rem;
  }

  .more-styles__style--link {
    padding: .5rem 0;
  }

  .navigation__button {
    font-size: 2.5rem;
  }
}
