  <ul class="discover-your-style__wrapper col-xs-12">
    <%  const styleImages ={
      0: "img/style-shag.png",
      1: "img/style-kids.png",
      2: "img/style-morocan.png",
      3: "img/style-updated_traditional.png"
    } %>

    <%= incomingStyles.forEach(function(style){ %>
    <li class="discover-your-style__slide--wrapper">
      <img class="discover-your-style__slide--image" src="<% Math.floor(Math.random()*3)  %>" alt="<%= style %> style" />
      <span class="discover-your-style__slide--title"><%= style %></span>
    </li>
    <% }) %>
