body {
  position: relative;
  font-family: "Graphik-Web", sans-serif;
  overflow-x: hidden;
  background: url(../../img/catalog-footer-bg.png) no-repeat bottom;
  background-size: contain;
}

/*********************** Promo-line BLOCK ***********************/
.promo-line {
  background: #f15f2a;
  color: white;
  font-family: "Graphik-Web", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 2px;
}

.promo-line__text {
  display: none;
}

/*********************** Navigation BLOCK ***********************/
.theme-green {
  background-color: #066551;
  color: white;
}

.navigation__global--wrapper {
  border-bottom: 1px solid #e5e5e5;
  height: 49px;
  position: relative;
}

.navigation__logo {
  font-family: "Graphik-Web", sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.navigation__logo--wide {
  display: none;
  padding: 10px 5px 4px 15px;
}

.navigation__logo--mobile {
  font-size: 30px;
  padding: 10px 5px 4px 15px;
}

.navigation__logo a:link, .navigation__logo a:visited {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media (min-width: 375px) {
  .navigation__logo--mobile {
    display: none;
  }

  .navigation__logo--wide {
    display: block;
  }
}

.nav-menu__item--link:hover, .nav-menu__item--link:link, .nav-menu__item--link:active, .nav-menu__item--link:focus {
  color: inherit;
}

.navigation__buttons--wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  list-style: none;
  margin: 0;
}

.navigation__button {
  padding: 20px;
  border-left: 1px solid #e5e5e5;
}

.navigation__burger {
  display: block;
}

.navigation__button a:link, .navigation__button a:visited, .navigation__button a:active, .navigation__button a:hover {
  color: black;
}

.search__wrapper--dropdown {
  opacity: 0.4;
  visibility: hidden;
  border-bottom: 1px solid #e5e5e5;
  height: 49px;
  background: white;
  overflow: hidden;
  display: none;
  justify-content: space-between;
}

.search__wrapper--dropdown__wrapper {
  display: flex;
}

.search__wrapper {
  display: none;
}

.search__field {
  font-size: 16px;
  width: 100%;
  height: 49px;
  padding-left: 44px;
  border: none;
}

.search__field:active, .search__field:focus {
  outline: 0;
}

.search__buttons--wrapper {
  height: 100%;
  display: flex;
}

.search__controls--button {
   display: block;
  float: right;
  cursor: pointer;
}

.search__submit {
  padding: 10px 20.5px;
  font-family: "icon-font1", sans-serif;
  font-size: 21px;
  color: white;
}

.search__clear {
  padding: 10px 16px;
  font-family: "icon-font1", sans-serif;
  font-size: 21px;
  color: grey;
}

.cart-count {
  width: 15px;
  height: 15px;
  background: #066551;
  position: absolute;
  top: 9px;
  left: 28px;
  border-radius: 20px;
  color: white;
  display: none;
  align-items: center;
  font-size: 9px;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation__cart {
  position: relative;
}

.nav-menu {
  opacity: 0.4;
  visibility: hidden;
  display: none;
  background: white;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  border: 1px solid #e5e5e5;
  margin: 0;
  padding-left: 0;
  width: 182px;
  z-index: 2;
}

.nav-menu a {
  text-decoration: none;
}

.nav-menu:last-child {
  border-bottom: none;
}

.navigation__button {
  font-family: "icon-font1";
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
  height: 100%;
}

.navigation__button:link, .navigation__button:hover {
  color: black;
  text-decoration: none;
}

.nav-menu__item {
  border-bottom: 1px solid #e5e5e5;
}

.nav-menu__item--link {
  font-family: "Graphik-Web", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: block;
  padding: 13px;
  white-space: nowrap;
}

.nav-menu__dropdown--link {
  position: relative;
}

.chevron {
  font-family: "icon-font1";
}

.nav-menu__dropdown--list {
  list-style: none;
  border: 1px solid #e5e5e5;
  border-radius: 6px 0 6px 6px;
  margin: 0;
  flex-direction: column;
  background: white;
  text-align: center;
  opacity: 0.4;
  visibility: hidden;
  padding-left: 0;
  position: absolute;
  top: -1px;
  right: 180px;
  width: 182px;
  z-index: 2;
}

.dropdown__triangle {
  width: 17px;
  height: 17px;
  border: 1px solid #e5e5e5;
  border-width: 1px 0 0 1px;
  transform: rotate(45deg);
  position: absolute;
  top: 63px;
  left: 42px;
  z-index: 3;
  border-bottom-color: white;
  background: white;
  visibility: hidden;
  opacity: 0.4;
}

.nav-menu a {
  cursor: pointer;
}

.nav-menu__dropdown--list:last-child {
  border-bottom: none;
}

.nav-menu__level2--item {
  border-bottom: 1px solid #e5e5e5;
}

.nav-menu__level2--item:last-child{
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.nav-menu__level2--link {
  font-family: "Graphik-Web", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: block;
  padding: 13px;
}

.nav-menu__level2--link:link , .nav-menu__level2--link:hover, .nav-menu__level2--link:active, .nav-menu__level2--link:visited{
  color:inherit;
}

.nav-menu__dropdown {
  position: relative;
}

.dropdown__visible {
  display: flex;
  visibility: visible;
  opacity: 1;
  background: white;
}

.cart-counter__displayed {
  display: flex;
}

/*********************** Header-content BLOCK ***********************/
.header__image {
  height: 226px;
  overflow: hidden;
  background: url(../../img/catalog-hero.png);
  background-size: cover;
  background-position-y: center;
}

.header__content--title-wrapper {
  background: #fdb010;
}

.header__content--title {
  font-size: 33px;
  color: black;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 100px;
}

/***********************Filters  BLOCK ***********************/
/* .theme-green-text, .theme-green-text:link, .theme-green-text:visited, .theme-green-text:active, a.theme-green-text:hover {
  color: #066551
}

.button {
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "Graphik-Web", serif;
}

.filters__global-wrapper {
  width: 100%;
  height: 100%;
}

.filters__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 10px;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  list-style: none;
  position: relative;
  background: white;
  z-index: 3;
}

.more-filters__dropdown .filters__wrapper {
  padding: 10px;
}

.more-filters__dropdown .filter__category--filters-wrapper {
  top: 100%;
}

.filters {
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
}

.filter__category--button {
  font-size: 14px;
  font-weight: 700;
  padding: 4px 0;
  background-color: white;
  text-transform: capitalize;
  border: 1px solid #066551;
  width: 100%;
}

.filter__category--active>.filter__category--button {
  color: white;
  background: #066551;
}

.filter__category--active .category__dropdown, .filter__category--active .more-filters__category {
  visibility: visible;
}

.more-filters__wrapper {
  width: 100%;
} */
/* .more-filters__category .filter__category--filters {
  top: 100%;
}

.more-filters__dropdown {
  position: absolute;
  z-index: 2;
  top: 102%;
  left: 0;
  padding-left: 0;
  list-style: none;
  width: 100%;
  padding: 0;
  background: white;
}

.more-filters__category {
  background: white;
  text-transform: capitalize;
  font-family: "Graphik-Web", serif;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #b3b3b3;
  padding: 20px 10px;
  position: relative;
}

.more-filters__dropdown .filter__category--filters-wrapper {
  padding: 0;
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out, visibility 0.5s;
  overflow: hidden;
}

.filter__category--expanded .filter__category--filters-wrapper {
  flex: 1;
  visibility: visible;
  max-height: 500px;
  max-height 0.5s ease-in, visibility 0.5s;
}

.more-filters__animation--wrapper {
  transition: height 3s;
}

.more-filters__button--opened {
  padding-top: 4px;
}

.more-filters__button--closed {
  padding-top: 10px;
}

.more-filters__category:last-child {
  border: none;
}

.more-filters__category--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-filters__category--expander {
  font-size: 33px;
  font-weight: 300;
  color: #066551;
  cursor: pointer;
  padding: 10px 0 5px 10px;
  line-height: 18px;
  user-select: none;
}

.more-filters__category--name {
  padding: 10px 10px 5px 0;
}

.filter__category--filters {
  padding: 10px 10px 0 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
  background: white;
}

.filter__category--item {
  width: 100%;
  margin-right: 10px;
}

.category--visible {
  visibility: visible;
}

.filter {
  color: #696c6b;
  border: 1px solid #696c6b;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.filter--selected {
  color: white;
  background: #696c6b;
}

.filter--selected:hover {
  color: white;
}

.filter__size--S {
  width: calc((100% - 30px) / 3);
}

.filter__size--M {
  width: calc((100% - 15px) / 3);
}

.filter__size--L {
  width: calc(100% / 3);
}

.filter:hover {
  border-color: black;
}

.filter__apply-button--wrapper {
  display: flex;
  justify-content: flex-end;
}

.filter__apply-button {
  text-align: center;
  color: #066551;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
}

.category__dropdown {
}

.overlay__layer {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #000000;
  opacity: 0.5;
  display: none;
} */
/***********************Content  BLOCK ***********************/
.catalog__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.catalog__products--total-count {
  font-weight: 700;
}

.catalog {
  position: relative;
  min-height: 500px;
}

/****** SORT START*******/
.sort__menu {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 2;
}

.sort__menu::after {
  content: "î ‡";
  font-family: "icon-font1";
  color: #666666;
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 19px;
  pointer-events: none;
}

.sort__button {
  border: none;
  background: white;
  padding: 5px 50px 5px 15px;
  color: #666666;
  width: 100%;
  text-align: left;
}

.sort__button--links:active, .sort__button--links:focus, .sort__button--links:hover {
  border: auto;
  outline: none;
}

.sort__dropdown {
  display: none;
  flex-direction: column;
}

.sort__dropdown--visible {
  display: flex;
}

.sort__sorts {
  border: none;
  background: white;
  padding: 5px 15px;
  color: #666666;
  position: relative;
  border-top: 1px solid #d9d9d9;
  text-align: left;
}

.sort__sorts:hover {
  color: black;
}

/****** SORT END*******/
.ajax-loader {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 100px;
}

.product__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  padding: 5px;
  margin: 0 auto;
  height: 150px;
}

.product__img {
  max-width: 100%;
  height: 100%;
}

.product {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.product__item--wrapper:nth-child(even)>.product {
  margin-right: 0;
}

.product__title {
  font-family: "Graphik-Web", serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0 10px 10px;
}

.product__price--wrapper {
  padding: 5px 0 30px 10px;
  font-family: "Graphik-Web", serif;
  font-weight: 500;
  font-size: 13px;
}

.product__oldprice {
  color: #707070;
  text-decoration: line-through;
  padding-right: 3px;
}

.product__colors {
  list-style: none;
  display: flex;
  padding-left: 10px;
}

.product__color--outer {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 7px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.product__benefit {
  border: none;
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 19px;
  color: #0065a2;
  font-family: "Graphik-Web", serif;
}

.product__benefit--image {
  border-radius: 100%;
  background: white;
  width: 70px;
  height: 70px;
}

.product__benefit--title {
  text-align: center;
  padding-top: 30px;
  font-size: 17px;
  padding-bottom: 20px;
}

.product__benefit--link {
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: underline;
  font-weight: 700;
  text-transform: uppercase;
}

.product__benefit--link:hover, .product__benefit--link:visited, .product__benefit--link:active, .product__benefit--link:focus {
  color: inherit;
}

/***********************Footer  BLOCK ***********************/
.footer {
  padding-bottom: 100px;
}

.pagination__wrapper {
  border: 1px solid #066551;
  color: #066551;
  border-radius: 6px;
  display: none;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.pagination__button {
  padding: 11px 31px;
  cursor: pointer;
}

.pagination__wrapper .pagination__button:first-child {
  border-right: 1px solid #066551;
}

.pagination__wrapper .pagination__button:last-child {
  border-left: 1px solid #066551;
}

.pagination__button:focus {
  outline: none;
}

.pagination__pages--wrapper {
  pointer-events: none;
}

.pagination__pages--wrapper span {
  padding-right: 7px;
}

.pagination__pages--wrapper span:last-child {
  padding-right: 0;
}
